

<div class="content" style="width:400px; margin-left:35%; margin-bottom:10%; margin-top:5%">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Add Product</h5></div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label>Category Id</label>
                        <div class="form-group">
                            <input type="number" name="CategoryID" class="form-control" placeholder="Category Id"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Product Name</label>
                        <div>
                            <input type="text" name="ProductName" class="form-control" placeholder="Product Name" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Unit Price</label>
                        <div>
                            <input type="number" name="UnitPrice" class="form-control" placeholder="Unit Price" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Unit In Stock</label>
                        <div>
                            <input type="number" name="UnitInStock" class="form-control" placeholder="Unit In Stock" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-fill btn-primary w-25">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>